body {
  padding-top: 60px;
}

#ex-div {
  position: fixed;
  z-index: 1;
}

#ex-navbar-btn {
  float: none;
  margin-left: 15px;
}

/* Navbar Ex-div */
@media (min-width: 768px) {
  #ex-navbar-div {
    display: none !important;
  }

  .justify-outside {
    display: inline-block;
    table-layout: auto;
    width: unset;
  }

  .justify-inside {
    display: block !important;
    float: left !important;
    width: unset !important;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  #ex-div {
    display: none;
  }
}



